.header {
  background-color: #191717;
  padding-bottom: 0;
}
div.container-fluid,
div.col-4,
div.col-5,
div.col-3,
div.row {
  padding-bottom: 0;
}
.logo {
  width: 100%;
  height: auto;
  padding-top: 0;
  min-width: 300px;
  max-width: 400px;
  padding-bottom: 0;
}
.btn {
  color: #b5b1b2;
  background-color: #74226c;
  margin-right: 20px;
  z-index: 2;
}
#search-bar {
  width: 100%;
  min-width: 250px;
  max-width: 600px;
}
#search-button {
  margin-left: 10px;
  margin-top: 0;
}
#main {
  margin-top: 50px;
  margin-left: 50px;
  color: black;
}
.footer {
  color: black;
  vertical-align: bottom;
}
body {
  height: 100%;
  background: #114b5f;
  background-repeat: no-repeat;
}
html {
  height: 100%;
  width: 100%;
}
a {
  color: #b5b1b2;
}
a:hover {
  color: #4b2142;
}
.form-label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
td,
th,
div {
  color: #b5b1b2;
  padding-bottom: 10px;
}
img {
  padding-bottom: 30px;
}
#user-greeting {
  padding-top: 30px;
}
button.close {
  position: absolute;
  right: 10px;
}
.game-info {
  padding-bottom: 20px;
}
form {
  width: 80%;
  margin-top: 0;
}
div.col-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
div.col-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h6 {
  margin-right: 10px;
  padding-bottom: 20px;
}
