.header {
  background-color: #191717;
}
.logo {
  width: 400px;
  height: auto;
  padding-right: 30px;
  padding-top: 10px;
}
.btn {
  color: #B5B1B2;
  background-color: #74226C;
  margin-top: 25px;
  margin-right: 20px;
  z-index: 2;
}
#search-bar {
  width: auto;
  min-width: 400px;
}
#search-button {
  margin-top: 0;
}
#main {
  margin-top: 50px;
  margin-left: 50px;
  color: black;
}
.footer {
  margin-top: 30px;
  padding: 20px 0 10px 50px;
  color: black;
  vertical-align: bottom;
}
body {
  height: 100%;
  background: #114B5F;
  background-repeat: no-repeat;
}
html {
  height: 100%;
  width: 100%;
}
a {
  color: black;
}
a:hover {
  color: #4B2142
}
.form-label, p, div, h1, h2, h3, h4, h5, h6 {
  color: #B5B1B2
}
img {
  padding-bottom: 30px;
}
#user-greeting {
  padding-top: 30px;
}
button.close {
  position: absolute;
  right: 0;
}
.game-info {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black
}