.header {
  background-color: #191717;
}
.logo {
  width: 400px;
  height: auto;
}
.button {
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  z-index: 2;
}
#search-bar {
  width: 700px;
}
#main {
  margin-top: 50px;
  margin-left: 50px;
  color: black;
}
.footer {
  margin-top: 30px;
  padding: 20px 0 10px 50px;
  color: black;
  vertical-align: bottom;
}
body {
  height: 100%;
  background: rgb(13,68,167);
  background: -moz-linear-gradient(180deg, rgba(13,68,167,1) 38%, rgba(53,176,184,1) 100%) fixed;
  background: -webkit-linear-gradient(180deg, rgba(13,68,167,1) 38%, rgba(53,176,184,1) 100%) fixed;
  background: linear-gradient(180deg, rgba(13,68,167,1) 38%, rgba(53,176,184,1) 100%) fixed;
  background-repeat: no-repeat;
}
html {
  height: 100%;
  width: 100%;
}
a {
  color: black;
}